.container {
    // background-color: $bg-soft;
    width: 100%;
    border-top: 1px solid $color-border;
    padding: $space-9 0;
}
.content {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.items {
    margin-top: $space-4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $space-2;

    @include tablet(){
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop(){
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.item {
    display: flex;
    gap: $space-1;
    align-items: center;
    border: 1px solid $color-primary;
    padding: $space-1 $space-2;
    border-radius: $radius-sm;
    background-color: $white;
    color: $color-primary;
    text-align: center;
}