.container {
    @include desktop(){
        padding-top: $space-6;
    }

    .badge {
        background-color: $bg-soft;
        padding: .5rem 1rem;
        color: $color-primary;
    }
    .content {
        color: $white;
    }

    .subtitle {margin-top: $space-2;max-width: 690px;}

    .cta {
        margin-top: $space-2;
        display: flex;
        gap: $space-1;
    }

}