.heroLayout {
  // --- CONFIGURACIÓN PARA MOBILE ---
  // padding: $space-9 0;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100vh;
  
  &.light {background-color: $white;}
  &.soft {background-color: $bg-soft;}
  &.bgImage {
    background-image: url('../../../assets/hero.webp');
    background-repeat: none;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      /* El gradiente: empieza sólido, se aclara al medio y se vuelve muy transparente al final */
      background: linear-gradient(
        // to right, 
        rgba($bg-dark, .6) 100%   /* to-background/40 */
        );
      }
    }
  
    .container {
      z-index: 100;
      width: 100%;
      @include container;
  }

  // --- CONFIGURACIÓN PARA DESKTOP ---
  @include desktop {
    // min-height: 30rem;
    // padding:0;
    
    .container {
      }
    }
}