.header {
  z-index: 1600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $space-2;
  background-color: $bg-soft;
  box-shadow: $shadow-md;


  .container {
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logo {
    font-family: $font-heading;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: $space-1;
    &::after {
      // content: ' asd';
    }
  }

  .flex {
    // display: none;
    padding-top: $space-1;
    white-space: nowrap;

    p {
      line-height: 1;
      font-size: $font-xl;
      color: $color-primary;
      letter-spacing: 1px;
    }

    span {
      display: block;
      font-size: 11px;
      font-family: $font-primary;
      color: $foreground-muted;
      font-style: italic;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  .logoImage {
    width: 2.5rem;

    @include desktop(){
      width: 3rem;
    }
  }
  
  .nav {
    max-height: 0;
    overflow: hidden;
    color: $white;
    
    @include desktop(){
      max-height: auto;
      overflow: visible;
      display: flex;
      align-items: center;
      gap: $space-3;    
    }
  }    
  
  .navOpen {
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-4;
    max-height: 500px;
    padding: 2rem 0;
    background-color: $bg-soft;
    color: $color-primary;
    // border-bottom: 1px solid $color-border;
    transition: $transition-normal;
    position: absolute;
    top: 3.9rem;
    left: 0;
    width: 100%;
  }

  .link {
    font-size: $font-sm;
    font-weight: 500;
    color: $foreground;
  }


  .cta {
    display: none;

    @include desktop(){
      display: block;
    }
  }

  .ctaMobile {
    @include desktop(){
      display: none;
    }
  }

  .burger {    
    color: $color-primary;    
    flex-shrink: 0;

    @include desktop(){
      display: none;
    }
  }
}
